.goldCoin {
    background-image: url("images/iconGoldCoin.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.expOrb {
    background-image: url("images/iconXp.png");
    background-size: 100%;
    position: absolute;
}

.powerShard {
    background: url("images/powerShard.png");
    background-size: 100%;
    position: absolute;
}

.bleedingIcon {
    background: url("images/bleedingIcon.png");
    position: absolute;
    top: 0px;
    left: 325px;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.burningIcon {
    background: url("images/burningIcon.png");
    position: absolute;
    top: 0px;
    left: 325px;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.chilledIcon {
    background: url("images/chilledIcon.png");
    position: absolute;
    top: 0px;
    left: 325px;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.buffIcon {
    background: url("images/buffIcons.png") 15px 0;
    position: relative;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
}

.buyButtonIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1px;
    top: 1px;
}

#characterIconArea {
    position: absolute;
    left: 44px;
    top: 29px;
    width: 124px;
    height: 204px;
}

.buttonIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 3px;
    top: 3px;
}

#footmanIcon { background: url("images/bigIcons.png") 0 0 }
#clericIcon { background: url("images/bigIcons.png") 200px 0 }
#commanderIcon { background: url("images/bigIcons.png") 160px 0 }
#mageIcon { background: url("images/bigIcons.png") 120px 0 }
#assassinIcon { background: url("images/bigIcons.png") 80px 0 }
#warlockIcon { background: url("images/bigIcons.png") 40px 0 }

.statIcon { background: url("images/bigIcons.png") 0 40px; }
.rendIcon { background: url("images/bigIcons.png") 0 120px; }
.rejuvenatingStrikesIcon { background: url("images/bigIcons.png") 200px 120px; }
.iceBladeIcon { background: url("images/bigIcons.png") 160px 120px; }
.fireBladeIcon { background: url("images/bigIcons.png") 120px 120px; }