.inventoryControl {
    position: relative;
    height: 100%;
    width: 100%;
    /*padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;*/
}

.inventoryBackground {
    position: absolute;
    top: 0px;
    left: 0px;
}