.mercenaryControl {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
    height: 80px;
}

.mercenaryBackground {
    width: 100%;
    height: 100%;
}

.mercenaryImage {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 64px;
    height: 64px;
}

.mercenaryName {
    position: absolute;
    top: 9px;
    left: 77px;
    height: 20px;
    font-weight: bold;
}

.mercenaryCurrencyTitle {
    position: absolute;
    top: 30px;
    left: 80px;
    height: 20px;
}

.mercenaryCurrency {
    position: absolute;
    top: 30px;
    left: 125px;
    height: 20px;
}

.mercenaryCountTitle {
    position: absolute;
    top: 50px;
    left: 80px;
    height: 20px;
}

.mercenaryCount {
    position: absolute;
    top: 50px;
    left: 143px;
    height: 20px;
}