.buttonMain {
    position: relative;
}

.buttonImage {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    margin: auto;
}

.buttonText {
    include: globalColorWhite;
    text-align: center;
    line-height: 25px;
    z-index: 2;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}