.systemDialog {
    width: 300px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.inventoryWindowIcon {
    position: absolute;
    height: 32px;
    width: 32px;
}

.inventoryWindowButton {
    include: inventoryWindowIcon;
    position: relative;
    left: 9px;
}

.characterWindowButton {
    include: inventoryWindowIcon;
    left: 42px;
}

.questWindowButton {
    include: inventoryWindowIcon;
    left: 75px;
}

.mercenaryWindowButton {
    include: inventoryWindowIcon;
    left: 108px;
}

.upgradeWindowButton {
    include: inventoryWindowIcon;
    left: 141px;
}
