.globalMaxSizeAbsoluteTopLeft {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.globalTextFont {
	font-family: 'Gentium Book Basic';
}

.globalColorWhite {
	color: #FFFFFF;
}

.globalColorRed {
	color: #FF0000;
}

.globalColorUIRed {
	color: #e0732c;
}

.globalColorUIGreen {
	color: #7ac956;
}

.globalColorUIBlue {
	color: #2fa7da;
}

.globalColorGreen {
	color: #10FF10;
}

.globalBlueBackgroundColor {
	background-color: #3f7cb6;
}

.globalTextElement {
	include: globalTextFont;
	include: globalColorLightText;
    font-size: 16px;
}

.globalHorizontalCenter {
    margin-left: auto;
    margin-right: auto;
}