.currencyControl {
    width: auto;
    position: relative;
    display: table;
}

.currencyControlImage {
    display: table-cell;
}

.currencyControlValue {
    margin-left: 4px;
    mergin-right: 4px;
    top: 0px;
    display: table-cell;
}

.currencySeparator {
    width: 4px;
    height: 100%;
    display: table-cell;
}

.currencyControlDefaultCanAfford {
    /*include: globalColorUIGreen;*/
}

.currencyControlDefaultCantAfford {
    include: globalColorRed;
}

.currencyControlDefaultText {
    include: globalTextFont;
    include: globalColorLightText;
}