.dialogHeaderPanel {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 35px;
    width: 100%;
}

.dialogContentPanel {
    include: globalNoDrag;
    position: absolute;
    top: 35px;
    left: 0px;
    height: calc(100% - 30px);
    width: 100%;
}

.dialogCloseButton {
    include: globalNoDrag;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
}

.dialogHeaderText {
    text-align: center;
    color: #fff;
}