.itemTooltip {
    width: 300px;
    height: 300px;
    opacity: 0.85;
}

.itemTooltipItem {
    width: 100%;
    height: 100%;
}

.itemTooltipEquip {
    width: 100%;
    height: 100%;
}

.itemTooltipHeaderPanel {
    position: relative;
    height: 32px;
    width: 100%;
}

.itemTooltipHeaderText {
    include: globalTextFont;
    include: globalColorWhite;
    text-align: center;
}

.itemTooltipBottomContentPanel {
    position: relative;
    height: 32px;
    width: 100%;
}

.itemTooltipStatText {
    include: globalTextFont;
    include: globalColorWhite;
}

.itemTooltipSellValueLabel {
    include: globalTextFont;
    include: globalColorWhite;
    position: absolute;
    left: 9px;
    top: 7px;
}

.itemTooltipSellValue {
    position: absolute;
    top: 9px;
    left: 80px;
}

.itemTooltipCurrencyText {
    include: globalTextFont;
    include: globalColorWhite;
}