.itemTooltip {
    width: 250px;
    height: 200px;
    opacity: 0.85;
}

.itemTooltipItem {
    width: 100%;
    height: 100%;
}

.itemTooltipEquip {
    width: 100%;
    height: 100%;
}

.itemTooltipHeaderPanel {
    position: relative;
    height: 32px;
    width: 100%;
}

.itemTooltipHeaderText {
    include: globalTextFont;
    include: globalColorWhite;
    text-align: center;
}

.itemTooltipTopContentPanel {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
}

.itemTooltipBottomContentPanel {
    position: relative;
    height: 32px;
    width: 100%;
}

.itemTooltipIcon {
    position: relative;
    top: 12px;
    left: 20px;
    width: 48px;
    height: 48px;
}

.itemTooltipSellValueLabel {
    include: globalTextFont;
    include: globalColorWhite;
    position: absolute;
    left: 9px;
    top: 9px;
}

.itemTooltipSellValue {
    position: absolute;
    top: 9px;
    left: 80px;
}