.mercenaryControl {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
    height: 80px;
}

.mercenaryBackground {
    width: 100%;
    height: 100%;
}

.mercenaryImage {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 9px;
    z-index: 1;
}

.mercenaryName {
    include: globalTextFont;
    position: absolute;
    left: 77px;
    height: 20px;
    font-weight: bold;
    top: 9px;
    z-index: 1;
}

.mercenaryCurrency {
    position: absolute;
    top: 30px;
    left: 77px;
    height: 20px;
    width: calc(100% - 100px);
}

.mercenaryCount {
    position: absolute;
    font-weight: bold;
    include: globalTextFont;
    right: 0px;
    height: 20px;
    width: 40px;
    top: 9px;
    z-index: 1;
}